.level__box {
  width: 450px;
  a {
    color: rgb(28, 169, 0);
    text-decoration: none;
  }
}

.level__box__img {
  width: 100%;
  height: auto;
  corner-top-shape: superellipse(0);
  corner-bottom-shape: superellipse(-10);
  border: 0.42rem double var(--color-red);
  filter: drop-shadow(0px 10px 10px rgba(255, 0, 0, 0.2));
  border-radius: 2rem 2rem 1rem 1rem;
}

.level__box__title {
  color: rgb(35, 39, 6);
  text-indent: 1rem;
}

.level__box__difficulty {
  text-indent: 1rem;
}
